:root {
  --card-border-color: #c9c9c9;
  --clear-btn-bg: #d31609;
}
/* clear button */
.btn-clear {
  background-color: var(--clear-btn-bg);
}
/* card */
.cart-product-heading {
  font-size: 2rem;
}
.product-original-price {
  font-size: 1.3rem;
}
.btn-quantity {
  width: 3rem;
  height: 3rem;
}
.horizontal-card-wrapper {
  width: 47rem;
}
.horizontal-card-img {
  width: 15rem;
}
/* grid layout */
.wrapper {
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header header"
    "products details"
    "footer footer";
}
header {
  grid-area: header;
}
footer {
  grid-area: footer;
}
#cart-products {
  grid-area: products;
  min-height: 80vh;
}
.card-wrapper {
  border: solid 1px var(--card-border-color);
}
.card-wrapper:hover {
  background-color: var(--light-gray-color);
}
#order-details {
  grid-area: details;
  width: 35rem;
  border: solid 1px var(--black-color);
  top: 20rem;
  height: fit-content;
}
