@import "./card.css";
:root {
  --card-border-color: #c9c9c9;
}

/* carousel */
.carousel-img {
  aspect-ratio: 4/2;
}
#carousel-prev-btn,
#carousel-next-btn {
  background-color: var(--secondary-color);
  color: var(--black-color);
}
#carousel-prev-btn {
  top: 50%;
  left: 1%;
}
#carousel-next-btn {
  top: 50%;
  right: 1%;
}
.carousel-content {
  color: var(--white-color);
  bottom: 5%;
  left: 32%;
}

/* fetaured categories cards */
.featured-card {
  width: 20rem;
  border: solid 1px var(--card-border-color);
}

.featured-card:hover {
  border: solid 1px var(--primary-color);
  background-color: var(--primary-light-color);
}
#chair-img {
  width: 47%;
}
#keyboard-img {
  width: 80%;
}
#headphone-img {
  width: 80%;
}
#mouse-img {
  width: 70%;
}
.category-card-heading {
  font-size: 2rem;
}

@media (max-width: 1038px) {
  #nav-menu-without-hamburger {
    display: none;
  }
}
