:root {
  --card-border-color: #c9c9c9;
}

#wishlist-cards-wrapper{
    grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
    grid-gap: 2rem;
}
.product-card {
  width: 25rem;
  border: solid 1px var(--card-border-color);
}
.product-card:hover{
    background-color: var(--light-gray-color);
}
.vertical-card-badge{
    top:2rem;
}
.product-card-img{
    width: 70%;
}
.card-btns-wrapper{
    gap : 1rem;
}